.card-item {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
  border-radius: 3px;
  margin: 0 0 8px;
  cursor: pointer;

  &__container {
    .card-item__title {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 19px;
      color: #000;
      white-space: normal;
    }
  }
}
