.board-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  white-space: nowrap;
  user-select: none;
  overflow-y: hidden;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

