.create-board {
  position: relative;
  width: 600px;
  min-height: 200px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 3px;

  .create-board__button {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease-out;

    &:hover {
      background-color: #e6e5e7;
    }
  }

  &__form {
    .create-board__input {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      width: 100%;
      margin-bottom: 45px;

      &::-webkit-input-placeholder {
        color: #37352f;
        opacity: 0.3;
      }
    }

    .create-board__desc {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 23px;
      color: #37352f;
      opacity: 0.7;
    }
  }
}
