.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  &,
  &__bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }

  &__body {
    z-index: 5;
  }
}
