.column-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 272px;
  height: 100%;
  margin: 0 6px;

  .column-item {
    max-height: 95%;
    white-space: normal;
    background-color: #dfe3e6;
    border-radius: 3px;

    .column-item__head {
      display: flex;
      flex-direction: row;
      padding: 8px 12px 0;
      margin-bottom: 10px;

      .column-item__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 32px;
        width: calc(100% - 38px);
        height: 30px;
        border-radius: 3px;
        margin-right: 8px;

        &:focus {
          background-color: #ffffff;
          padding: 0 6px;
          box-shadow: inset 0 0 0 2px #0079bf;
        }
      }

      .column-item__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 3px;

        &:hover {
          background-color: #caced1;
        }

        &.-trash {
          .column-item__icon {
            width: 22px;
            height: 22px;
            fill: #ff0200;
          }

          &:hover {
            .column-item__icon {
              -webkit-animation: 0.1s tremor ease-out infinite;
              animation: 0.1s tremor ease-out infinite;
            }
          }

          @keyframes tremor {
            0%,
            25% {
              left: -1px;
              transform: translateX(-4%);
            }
            50%,
            100% {
              left: 1px;
              transform: translateX(4%);
            }
          }
        }

        .column-item__icon {
          fill: #555555;
        }
      }
    }

    .column-item__body {
      .column-item__cards {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: calc(100vh - 165px);
        padding: 0 12px;

        &.-open-form {
          max-height: calc(100vh - 230px);
        }

        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
      }
    }
  }
}
