.board-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  margin: 0 5px 10px;
  height: 150px;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.3s ease-out;
  background-color: #edecee;

  &:hover {
    background-color: #e2e2e2;
  }

  .board-card__emoji {
    font-size: 58px;
  }

  .board-card__title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #111;
  }
}
