.header {
  margin-bottom: 10px;
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    padding: 0 26px;

    .header-hover {
      cursor: pointer;
      border-radius: 3px;
      transition: .3s ease-out;

      &:hover {
        background-color: #e6e5e7;
      }
    }

    .header-container__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 34px;

      .header-container__icon {
        width: 20px;
        height: 20px;
        fill: #333333;
      }
    }

    .header-container__title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-left: 10px;
      padding: 0 5px;

      .header-container__emoji {
        display: block;
        font-size: 20px;
        padding: 5px 8px 5px 5px;
      }

      .header-container__input {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        min-width: 100px;
        max-width: 240px;
        height: 40px;
        cursor: pointer;
      }
    }
  }
}
