.history-item {
  display: block;
  max-width: 700px;
  margin-bottom: 25px;

  &__head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    margin-bottom: 5px;

    .history-item__emoji {
      height: 36px;
      width: 36px;
      text-align: center;
      line-height: 24px;
      font-size: 24px;
    }

    .history-item__content {
      font-family: 'Montserrat', sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      margin-left: 15px;

      .history-item__title {
        font-size: 16px;
        font-weight: 600;
        color: #111111;
        margin-bottom: 4px;
      }

      .history-item__time {
        font-size: 14px;
        font-weight: 500;
        color: #777777;
      }
    }
  }

  &__body {
    padding-left: 50px;
    .history-item__message {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.6em;
      color: #222;
    }
  }
}
