.histories-list {
  &__head {
    margin-bottom: 30px;
    .histories-list__title {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-size: 22px;
      font-weight: 600;
    }
  }

  &__body {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-scrollbar-track {
      background-color: #999;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: #ececec;
    }
    &::-webkit-scrollbar-thumb {
      height: 50px;
      background-color: #999999;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-corner {
      background-color: #999;
    }
    &::-webkit-resizer {
      background-color: #666;
    }
  }
}
