.add-block {
  width: 272px;
  min-height: 43px;
  background-color: #dfe3e6;

  &.-bottom {
    border-radius: 0 0 3px 3px;
    .add-block__button {
      &.-open {
        border-radius: 0 0 3px 3px;

        span {
          line-height: 27px;
        }
      }
    }

    .add-block__form.box-container {
      padding: 8px 12px;
    }
  }

  &.-all {
    border-radius: 3px;
    margin-right: 20px;
    .add-block__button {
      &.-open {
        border-radius: 3px;
      }
    }
  }

  &__button {
    &.-open {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      cursor: pointer;
      height: 43px;

      &:hover {
        background-color: #d1d5d8;
      }

      .add-block__icon {
        width: 15px;
        height: 15px;
        fill: #6b808c;
        margin-right: 8px;
      }

      .add-block__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        color: #6b808c;
      }
    }
  }

  &__form.box-container {
    .add-block__textarea {
      width: 100%;
      min-height: 54px;
      background: #ffffff;
      box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
      padding: 8px 6px 8px 12px;
      border-radius: 3px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 19px;
      resize: none;
      margin-bottom: 8px;
      &::-webkit-input-placeholder {
        color: #b8b9bb;
      }

      &::-webkit-scrollbar {
        width: 0;
      }
    }

    .add-block__input {
      width: 100%;
      height: 35px;
      padding: 8px 12px;
      background: #ffffff;
      box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
      border-radius: 3px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 19px;
      margin-bottom: 8px;
      &::-webkit-input-placeholder {
        color: #b8b9bb;
      }
    }

    .add-block__action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;

      .add-block__button {
        cursor: pointer;

        &.-add {
          height: 30px;
          background: #39c071;
          border-radius: 3px;
          .add-block__title {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 30px;
            padding: 0 8px;
            color: #ffffff;
          }
        }

        &.-close {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 30px;
          padding-left: 10px;
          .add-block__icon {
            width: 15px;
            height: 15px;
            fill: #6b808c;
          }
        }
      }
    }
  }
}
