@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import '../../../node_modules/reset.scss/reset';

input,
button,
textarea {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.-icon {
  width: 24px;
  height: 24px;
  fill: black;
}

.box-container {
  width: 100%;
  padding: 8px 12px;
}

.dropdown {
  &.dropdown--active {
    .dropdown__trigger {
      display: none;
    }

    .dropdown__content {
      display: block;
    }
  }

  &__trigger {
    display: block;
  }

  &__content {
    display: none;
  }
}

.board-body {
  position: relative;
  height: calc(100vh - 60px);
}

.boards-page {
  margin: 0 auto;
  padding-top: 50px;
  width: 960px;
  &__head {
    margin-bottom: 30px;

    .boards-page__headline {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-size: 22px;
      font-weight: 600;

      .boards-page__counter {
        text-align: center;
        display: block;
        width: 30px;
        height: 30px;
        background-color: #ff0200;
        color: #ffffff;
        line-height: 30px;
        border-radius: 50%;
        margin-left: 10px;
      }
    }
  }

  &__body {
    margin-bottom: 80px;
  }
}
